@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
}

input,
textarea,
button {
  width: 100%;
  max-width: 100%;
}

img,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

input,
textarea,
button,
div {
  max-width: 100%;
}
